* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
@font-face {
  font-family: "TT LakesRegular";
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}
body {
  font-family: "TT Lakes", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f2f2f2;
}
list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #7e7e82;
}
.btn-general {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.swiperList {
}
.swiperList__header h2 {
  font-family: TT LakesRegular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  margin: 0;
  padding: 16px 16px;
  background-color: white;
  text-transform: uppercase;
}
.swiperList__container {
  padding: 0 16px;
  margin: 0 auto;
}
.swiperList__swiper {
  min-width: 200px;
  overflow: visible;
}
.swiper {
}
.swiper-wrapper {
  padding-top: 16px;
  position: relative;
}
.swiper-slide__content {
  background: #ffffff;
  display: flex;
  width: 240px;
  height: 72px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide {
  display: flex;

  width: 240px;
  justify-content: space-between;
}

.swiper__img {
  display: flex;
}
.slide__innerImg {
  align-self: center;
}
.swiper__link img {
  width: 40px;
  height: 40px;
}
.swiper-pagination {
  position: absolute;
  /* top: 0;
  left: 0; */
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 96px;
  left: 2px;
  width: 100%;
}

.swiper__show-more-button {
  display: none;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: 96px;
  left: 0;
  width: 100%;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 12px;
  margin-left: 0px;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.hidden {
  display: none;
}
@media only screen and (max-width: 767px) {
  .swiper-container {
    width: 300px; /* фиксированный размер для свайпера */
  }
  .title {
    font-size: 16px; /* фиксированный размер для заголовков */
  }
}
.swiper-container {
  width: 800px;
  height: 400px;
}

.swiper-slide {
  width: 800px;
  height: 400px;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 10px;
}
